<!DOCTYPE html>
<html>

<head>
    <Link rel="icon" href="/img/orangeshadow.jpg">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpMessage}}</p>
    </div>
    {{>footer}}

</body>

</html>